#hero{
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(Images/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
span{
    color: peru;
}
li{
    list-style: none;
}